{{#partial "contenido" }}
    <div class="container mt-4">
        <h1 class="titulos">Rankings de Entidades</h1>

        <div class="d-flex align-items-center mt-4">
            <h4 class="me-2 titulos">Seleccionar criterio de ranking: </h4>
            <div class="d-inline-flex">
                <form method="POST" action="/admin/rankings">
                    <div class="dropdown mb-auto d-inline-flex">
                        <select class="form-select mb-auto" name="criterio_ranking">
                            <option value="-1">Elegir criterio de ranking</option>
                            <option value="MayorPromedioCierre">Mayor promedio de tiempo de cierre de incidentes</option>
                            <option value="MayorCantidadIncidentes">Mayor cantidad de incidentes reportados en la semana</option>
                            <option value="MayorGradoDeImpacto">Mayor grado de impacto de las problemáticas</option>
                        </select>
                    </div>
                    <div class="d-inline-flex ms-1">
                        <button type="submit" class="btn botonppal mb-auto">Generar ranking</button>
                    </div>
                </form>
            </div>
        </div>

        {{# if entidades}}
            <div class="container mt-4">
                <h2 class="titulos">Ranking segun {{criterio}}</h2>
                <table class="table table-light table-striped">
                    <thead>
                    <tr>
                        <th><strong>Orden</strong></th>
                        <th><strong>Entidad</strong></th>
                        <th><strong>Localizacion</strong></th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each entidades}}
                        <tr>
                            <td>{{this.index}}</td>
                            <td>{{this.nombre}}</td>
                            <td>{{this.localizacion}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        {{/if}}

    </div>
{{/partial}}
{{> templates/admins/plantilla_base_admins }}