{{#partial "contenido" }}
   <div class="container mt-4">
        <h1>Nombre Comunidad</h1>

        <ul class="list-group list-group">
            <li class="list-group-item bg-warning d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Usuarios</div>
                </div>
                <div class="d-grid gap-2 d-md-block">
                    <button class="btn btn-success btn-sm" type="button">Alta Usuario</button>
                </div>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div>Lucas Boldrini</div>
                  </div>
                <div class="d-grid gap-2 d-md-block">
                    <button class="btn btn-danger btn-sm" type="button">Baja</button>
                    <button class="btn btn-dark btn-sm" type="button">Modif</button>
                </div>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div>Nahuel Gimenez</div>
                </div>
                <div class="d-grid gap-2 d-md-block">
                    <button class="btn btn-danger btn-sm" type="button">Baja</button>
                    <button class="btn btn-dark btn-sm" type="button">Modif</button>
                </div>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div>Facundo Su</div>
                </div>
                <div class="d-grid gap-2 d-md-block">
                    <button class="btn btn-danger btn-sm" type="button">Baja</button>
                    <button class="btn btn-dark btn-sm" type="button">Modif</button>
                </div>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div>Federico Moccia</div>
                </div>
                <div class="d-grid gap-2 d-md-block">
                    <button class="btn btn-danger btn-sm" type="button">Baja</button>
                    <button class="btn btn-dark btn-sm" type="button">Modif</button>
                </div>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div>Tomas D'Antonio</div>
                </div>
                <div class="d-grid gap-2 d-md-block">
                    <button class="btn btn-danger btn-sm" type="button">Baja</button>
                    <button class="btn btn-dark btn-sm" type="button">Modif</button>
                </div>
            </li>

          </ul>
    </div>
{{/partial}}
{{> templates/plantilla_base }}