{{#partial "contenido" }}
    <div class="container mt-4">
        <h1>Nombre Comunidad</h1>

        <ul class="list-group">
            <li class="list-group-item bg-warning fw-bold" aria-current="true">Usuarios</li>
            <li class="list-group-item">Lucas Boldrini</li>
            <li class="list-group-item">Nahuel Gimenez</li>
            <li class="list-group-item">Facundo Su</li>
            <li class="list-group-item">Tomas D'Antonio</li>
            <li class="list-group-item">Federico Moccia</li>
        </ul>
    </div>
{{/partial}}
{{> templates/plantilla_base }}