{{#partial "contenido" }}
    <div class="row">
        <div class="col-md-6 mx-auto mt-5">
            <div class="card shadow-lg">
                <div class="card-header text-dark text-center py-3">
                    <h3 class="m-0">Bienvenido, Administrador</h3>
                </div>
                <div class="card-body p-4">
                    <p>Como administrador podes:</p>
                    <li>Cargar y listar Entidades Prestadoras</li>
                    <li>Cargar y listar Organismos de Control</li>
                    <li>Visualizar rankings</li>
                </div>
            </div>
        </div>
    </div>
{{/partial}}
{{> templates/admins/plantilla_base_admins }}