{{#partial "contenido" }}
    <div class="container mt-4">
        <h1>Incidentes</h1>

        <a class="btn btn-warning mb-auto" href="/incidentes/crear">Abrir Incidente</a>

        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filtrar
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#" id="filterOpen">Abiertos</a>
                <a class="dropdown-item" href="#" id="filterClosed">Cerrados</a>
            </div>
        </div>
        <ul class="list-group" id="incidentList">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-3"><strong>Descripción</strong></div>
                    <div class="col-md-3"><strong>Estado</strong></div>
                    <div class="col-md-3"><strong>Usuario de Apertura</strong></div>
                    <div class="col-md-3"><strong>Usuario de Cierre</strong></div>
                </div>
            </li>
            {{#each incidentes}}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-3">{{this.descripcion}}</div>
                        <div class="col-md-3">{{this.estado}}</div>
                        <div class="col-md-3">{{this.usuarioApertura.getNombre}}</div>
                        <div class="col-md-3">{{this.usuarioCierre.getNombre}}</div>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
{{/partial}}
{{> templates/plantilla_base }}