{{#partial "contenido" }}
    <div class="container mt-4">
        <h1>Comunidades</h1>

        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filtrar Por Rol
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#" id="filterOpen">Administrador</a>
                <a class="dropdown-item" href="#" id="filterClosed">Usuario</a>
            </div>
        </div>

    <!--aca arrancaria la lista de comunidades-->
    {{#each comunidades}}
        <div class="card">
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="card-title">{{this.nombre}}</h5>
                {{#if this.rol == Administrador}} <!-- no se si se pone asi lo de los roles despues preguntar -->
                    <a href="../usuarios/administrarUsuarios.html" class="btn btn-dark">Ver usuarios</a>
                {{else}}
                    <a href="../usuarios/verUsuarios.html" class="btn btn-dark">Ver usuarios</a>
                {{/if}}
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <p class="card-text">Descripción Comunidad</p>
            </div>
        </div>
    {{/each}}

{{/partial}}
{{> templates/plantilla_base }}