{{#partial "contenido" }}

    //TODO faltaria terminar esto y que quede bien bonito, ademas ver como hacer para que el boton de filtrar funcione

    <div class="container mt-4">
        <h1>Comunidades</h1>

        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filtrar Por Rol
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#" id="filterOpen">Administrador</a>
                <a class="dropdown-item" href="#" id="filterClosed">Miembro</a>
            </div>
        </div>

        <!--aca arrancaria la lista de comunidades-->
        {{#each miembros}}
            <div class="card">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="card-title">{{this.comunidad.nombre}}</h5>
                    {{#if this.esAdministrador}}
                        <a href="miembros/{{this.comunidad.getId}}/admin" class="btn btn-dark">Ver usuarios</a>
                    {{else}}
                        <a href="miembros/{{this.comunidad.getId}}/ver" class="btn btn-dark">Ver usuarios</a>
                    {{/if}}
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <p class="card-text">Descripción Comunidad</p>
                </div>
            </div>
        {{/each}}
    </div>
{{/partial}}
{{> templates/plantilla_base }}