{{#partial "contenido" }}
    <div class="container mt-4">
        <h1>{{comunidad.getNombre}}</h1>

        <ul class="list-group">
            <li class="list-group-item encab fw-bold" aria-current="true">Usuarios</li>
            {{#each miembros}}
                <li class="list-group-item">{{this.usuario.getNombre}} {{this.usuario.getApellido}}</li>
            {{/each}}
        </ul>
    </div>
{{/partial}}
{{> templates/plantilla_base }}