{{#partial "contenido" }}
    <div class="container mt-4">
        <h1>Carga de Organismos de Control</h1>

        <div class="card main-container">
            <div class="card-body">
                <h5 class="card-title">Subir Archivo CSV</h5>
                <form method="POST" action="organismos_de_control" enctype="multipart/form-data">
                    <div class="mb-auto">
                        <label for="token" class="form-label">Token CSV</label>
                        <input type="text" class="form-control" name="token" placeholder="Inserte el token del archivo CSV" required>
                    </div>
                    <input type="file" class="form-control-file" name="csvFileInput" id="csvFileInput">
                    <button class="btn btn-warning mt-3" id="uploadCsvBtn">Subir CSV</button>
                </form>
            </div>
        </div>
    </div>
{{/partial}}
{{> templates/plantilla_base }}