{{#partial "contenido2" }}
    <div class="container-fluid d-flex align-items-center justify-content-center min-vh-100">
        <div class="col-md-4">
            <div class="card shadow-lg">
                <div class="card-header text text-center py-3">
                    <h3 class="m-0">Error 401</h3>
                </div>
                <div class="card-body p-4">
                    <p>No estás autorizado para acceder a esta página.</p>
                    <a class="btn botonppal mb-auto" href="/">Volver</a>
                </div>

            </div>
        </div>
    </div>
{{/partial}}
{{> templates/errors/plantilla_errores_base }}>
