{{#partial "contenido" }}
    <div class="container mt-4">
        <h1>Incidentes</h1>

        <a class="btn btn-warning mb-auto" href="aperturaIncidente.html">Abrir Incidente</a>

        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filtrar
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#" id="filterOpen">Abiertos</a>
                <a class="dropdown-item" href="#" id="filterClosed">Cerrados</a>
            </div>
        </div>

        <ul class="list-group" id="incidentList">

        </ul>
    </div>
{{/partial}}
{{> templates/plantilla_base }}