{{#partial "contenido" }}
<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card shadow-lg mb-5">
            <div class="card-header text-dark text-center py-3">
                <h3 class="m-0">Quienes Somos</h3>
            </div>
            <div class="card-body p-4">
                <!-- Integrante 1 -->
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <p class="mb-0">Tomas D´Antonio</p>
                    <img src="/fototomy.jpg" alt="Integrante 1" class="ml-3" width="80" height="80">
                </div>

                <!-- Integrante 2 -->
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <p class="mb-0">Nahuel Gimenez</p>
                    <img src="https://aulasvirtuales.frba.utn.edu.ar/pluginfile.php/294271/user/icon/utnba/f1?rev=10551641" alt="Integrante 2" class="ml-3" width="80" height="80">
                </div>

                <!-- Integrante 3 -->
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <p class="mb-0">Federico Moccia</p>
                    <img src="https://media.licdn.com/dms/image/D4D03AQH8KcIs6dXp_Q/profile-displayphoto-shrink_800_800/0/1693842566079?e=2147483647&v=beta&t=yll-SjQBUylaGZP53HvVhmc_y2x9Ext2Pus9wzQVDlk" alt="Integrante 3" class="ml-3" width="80" height="80">
                </div>

                <!-- Integrante 4 -->
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <p class="mb-0">Lucas Boldrini</p>
                    <img src="https://media.licdn.com/dms/image/D4D03AQHvU9ewSMpLSg/profile-displayphoto-shrink_800_800/0/1693850615132?e=2147483647&v=beta&t=qPcSngFR8yH3jPX_EixA3AHzpDOGyzIESu2dcIrQmnw" alt="Integrante 4" class="ml-3" width="80" height="80">
                </div>

                <!-- Integrante 5 -->
                <div class="d-flex justify-content-between align-items-center">
                    <p class="mb-0">Facundo Su</p>
                    <img src="/fotofacu.jpg" alt="Integrante 5" class="ml-3" width="80" height="80">
                </div>
            </div>
        </div>
    </div>
</div>
{{/partial}}
{{> templates/plantilla_base }}