{{#partial "contenido" }}
    <div class="container mt-4">
        <h1>Rankings</h1>

        <div class="d-flex align-items-center mt-auto">
            <h4 class="me-3">Seleccionar criterio de ranking: </h4>
            <div class="dropdown">
                <button class="btn btn-warning dropdown-toggle" type="button" id="criterioDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    Criterio de Ranking
                </button>
                <ul class="dropdown-menu" aria-labelledby="criterioDropdown">
                    <li><a class="dropdown-item" href="#" id="mayorPromedioBtn">Mayor promedio de tiempo</a></li>
                    <li><a class="dropdown-item" href="#" id="mayorCantidadBtn">Mayor cantidad incidentes</a></li>
                    <li><a class="dropdown-item" href="#" id="mayorGradoBtn">Mayor grado de impacto</a></li>
                </ul>
            </div>
        </div>
    </div>
{{/partial}}
{{> templates/plantilla_base }}