{{#partial "funcionesDeUsuarioNav" }}

{{/partial}}

{{#partial "contenido" }}
    <div class="container-fluid d-flex align-items-center justify-content-center mt-5 mb-5">
        <div class="col-md-4">
            <div class="card a">
                <div class="card-header text-dark text-center py-3">
                    <h3 class="m-0">Iniciar Sesión</h3>
                </div>
                <div class="card-body p-4">
                    <form method="POST" {{#if usuario}} action="/login" {{else}} action="/admin/login" {{/if}}>
                        <div class="mb-3">
                            <label for="username" class="form-label">Nombre de Usuario</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <button type="submit" class="btn botonppal w-100">Iniciar Sesión</button>
                        {{#if usuario}}
                            <p class="me-1 mt-1 mb-0">¿No tienes una cuenta? <a class="link ms-auto mt-1 mb-0" href="/registro">Registrarse</a> </p>
                        {{/if}}
                    </form>
                </div>
            </div>
        </div>
    </div>
{{/partial}}
{{> templates/usuarios/plantilla_base }}