<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body class = "body">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <img class="navbar-brand" src="/logo.png" alt="Es el logo de la pagina" width="238" height="75">
        </div>
    </nav>

    <div class="container-fluid d-flex align-items-center justify-content-center min-vh-100">
        <div class="col-md-4 mt-5 mb-5">
            <div class="card shadow-lg">
                <div class="card-header text-dark text-center py-3">
                    <h3 class="m-0">Registro de usuario</h3>
                </div>
                <div class="card-body p-4">
                    <form method="POST" action="/registro">
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" name="nombre" placeholder="Inserte su nombre" required>
                        </div>
                        <div class="mb-3">
                            <label for="apellido" class="form-label">Apellido</label>
                            <input type="text" class="form-control" name="apellido" placeholder="Inserte su apellido" required>
                        </div>
                        <div class="mb-3">
                            <label for="usuario_nombre" class="form-label">Nombre De Usuario</label>
                            <input type="text" class="form-control" name="usuario_nombre" placeholder="Inserte su nombre de usuario" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" name="email" placeholder="Inserte su email" required>
                        </div>
                        <div class="mb-3">
                            <label for="telefono" class="form-label">Número de Teléfono</label>
                            <input type="text" class="form-control" name="telefono" placeholder="Inserte su número de teléfono" required>
                        </div>
                        <div class="mb-3">
                            <label for="contrasenia" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" name="contrasenia" placeholder="Inserte su contraseña" required>
                        </div>
                        <div class="mb-3">
                            <label for="medio_notificacion" class="form-label">Medio de Notificación</label>
                            <select class="form-select" name="medio_notificacion">
                                <option value="-1">Elegir medio de notificacion</option>
                                <option value="MensajeEmail">Email</option>
                                <option value="MensajeWhatsapp">WhatsApp</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="tiempo_configuracion" class="form-label">Tiempo de Configuración</label>
                            <select class="form-select" name="tiempo_configuracion">
                                <option value="-1">Elegir medio de notificacion</option>
                                {{#each tiempos_config}}
                                    <option value="{{this.discriminador}}">Cuando sucede</option>
                                {{/each}}
                                <option value="SinApuros">Sin apuros</option>
                            </select>
                        </div>
                        <button type="submit" class="btn botonppal">Confirmar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>