{{#partial "contenido" }}
    <div class="container mt-4">
        <h1>Rankings</h1>

        <div class="d-flex align-items-center mt-auto">
            <h4 class="me-3">Seleccionar criterio de ranking: </h4>
            <div class="dropdown">
                <select class="form-select" name="criterio_ranking">
                    <option value="-1">Elegir criterio de ranking</option>
                    <option value="MayorPromedioDeTiempo">Mayor promedio de tiempo</option>
                    <option value="MayorCantidadDeIncidentes">Mayor cantidad de incidentes</option>
                    <option value="MayorGradoDeImpacto">Mayor grado de impacto</option>
                </select>
            </div>
            //TODO el boton de aplicar deberia devolver el criterio seleccionado y para despues mostrar el ranking que corresponde
            <a class="btn btn-warning mb-auto" style="margin-left: 10px;">Aplicar</a>
        </div>

    </div>
{{/partial}}
{{> templates/plantilla_base }}